<div class="grid-container">
  <!-- first row -->
  <div class="grid-item-3">
     <app-table [number]="10" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item-1">
    <app-table [number]="9" [size]="small" [shape]="square"></app-table>
  </div>
  <div class="grid-item-1">
    <app-table [number]="8" [size]="small" [shape]="square"></app-table>
  </div>
  <div class="grid-item-1">
    <app-table [number]="7" [size]="small" [shape]="square"></app-table>
  </div>
  <div class="grid-item-4">
    <app-table [number]="6" [size]="big" [shape]="round"></app-table>
  </div>

  <!-- first row -->
  <div class="grid-item-2">
    <app-table [number]="11" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item-2">
    <app-table [number]="12" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item-2">
    <app-table [number]="13" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item-2">
    <app-table [number]="14" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item-2">
    <app-table [number]="15" [size]="big" [shape]="round"></app-table>
  </div>

  <!-- first row -->
  <div class="grid-item">
    <app-table [number]="1" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item">
    <app-table [number]="2" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item">
    <app-table [number]="3" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item">
    <app-table [number]="4" [size]="big" [shape]="round"></app-table>
  </div>
  <div class="grid-item">
    <app-table [number]="5" [size]="big" [shape]="round"></app-table>
  </div>

</div>


<!-- <app-table [number]="112" [size]="big" [shape]="round"></app-table>
<app-table [number]="12" [size]="small" [shape]="round"></app-table>
<app-table [number]="2" [size]="small" [shape]="square"></app-table> -->
