<section class="status-code-page-section">
  <div class="status-code-page-container">
    <div class="status-code-object">
      <div class="status-code-card">
        <div class="status-code-img-container">
          <img src="../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="status-code-title">{{ title}}</h1>
        <p>{{ message }}</p>
        <img class="status-code-img" src="{{ image }}" alt="">
        <hr class="status-code-divider">
        <p class="login-register">{{ account }} <a href="{{ link }}">{{ link_name }}</a></p>
      </div>
      <div class="status-code-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
