section {
  height: 7vh;
  width: 100vw;
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
}

.back-button {
  height: 7vh;
  width: 7vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

fa-icon {
  margin-left: 2.5vw;
  font-size: 2.5vh;
  color: #fff;
  outline: 1px solid #30363d;
  padding: 1vh 1.1vw;
  border-radius: 5px;
  transition: .3s ease-out;
}

fa-icon:hover {
  transition: .3s ease-in;
  background-color: #30363d;
}
