<section class="login-page-section">
  <div class="login-page-container">
    <div class="login-object">
      <div class="login-card">
        <div class="login-img-container">
          <img src="" alt="">
        </div>
        <h1 class="login-title">Login by Bon Temps</h1>
        <div class="login-notifactions"></div>
        <div class="login-error">
          <p>
            testing the error
          </p>
        </div>
        <div class="login-form">
          <form action="/login" method="POST">
            <app-login-inputs></app-login-inputs>
          </form>
        </div>
      </div>
      <div class="login-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
