<section class="auth-page-section">
  <div class="auth-page-container">
    <div class="auth-page-object">
      <div class="auth-card">
        <div class="auth-img-container">
          <img src="../../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="auth-title">Please enter your email</h1>
        <div *ngIf="error != '' " class="auth-error">
          <p>{{error}}</p>
        </div>
        <div class="auth-form">
          <form (submit)="onSubmit(resetForm)" #resetForm="ngForm">
            <div>
              <input type="text" name="email" ngModel placeholder="Adaptive@example.com" #resetInput="ngModel">
            </div>
            <input class="submit" type="submit" value="Reset password">
          </form>
          <hr class="auth-divider">
          <p class="auth-alt-text">Go back to the <a routerLink="/login">Login</a></p>
        </div>
      </div>
      <div class="auth-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
