/* Navbar styling */

fa-icon {
  font-size: 40px;
  height: 60px;
  width: 35px;
}

ul li {
  color: white;
  display: block;
  padding: 5px 10px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all ease 200ms;
}

ul li a:hover {
  color: rgb(224, 214, 214);
}

.navbar-wrapper {
  position: absolute;
  width: 100%;
  color: white;
  transition: all ease 200ms;
}

.navbar-wrapper.sticky {
  position: fixed;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 30px;
  max-width: 1200px;
}

.navbar .logo .logo-text img {
  height: 90px;
  width: auto;
}

.navbar-wrapper.sticky .navbar .logo .logo-text img {
  height: 60px;
}

.navbar ul {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all ease 400ms;
  padding: 10px;
  background-color: black;
}

.mobile-navbar ul li {
  padding: 10px;
}

#hamburger {
  display: none;
}

#closeBtn {
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  ul li a {
    font-size: 16px;
  }
}

/* width < 768px */

@media only screen and (max-width: 767px) {
  .navbar-wrapper {
    background-color: black;
  }

  .navbar {
    padding: 20px;
  }

  .navbar ul {
    display: none;
  }

  .navbar .logo .logo-text img {
    height: 60px;
  }

  .active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  #hamburger {
    display: flex;
    align-items: center;
  }
}