<div class="navbar-wrapper">
  <nav id="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <div class="logo">
      <div class="logo-text"><img src="../../../../assets/images/icon-logo.png"></div>
    </div>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="">Menu</a></li>
      <li><a routerLink="">Reserveren</a></li>
      <li><a routerLink="">About us</a></li>
      <li><a routerLink="">Contact</a></li>
      <li><a *ngIf="!userIsAuthenticated" routerLink="/login">Login</a></li>
      <li><a *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</a></li>
    </ul>
  </nav>
</div>
