<section class="auth-page-section">
  <div class="auth-page-container">
    <div class="auth-object">
      <div class="auth-card">
        <div class="auth-img-container">
          <img src="../../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="aith-title">{{ title }}</h1>
        <p>{{ message }}</p>
        <img class="error-img" src="{{ image }}" alt="">
        <hr class="auth-divider">
        <p class="auth-alt-text">{{ account }}<a routerLink="{{ link }}">{{ link_name}}</a></p>
      </div>
      <div class="auth-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
