<section class="register-page-section">
  <div class="register-page-container">
    <div class="register-object">
      <div class="register-card">
        <div class="register-img-container">
          <img src="../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="register-title">Register by BonTemps</h1>
        <div class="register-notifactions"></div>
        <div class="register-form">
          <form action="/login" method="POST">
            <app-user-input [placeholder]="placeholder_email" [type]="type_email" [name]="name_email"></app-user-input>
            <app-user-input [placeholder]="placeholder_firstname" [type]="type_firstname" [name]="name_firstname"></app-user-input>
            <app-user-input [placeholder]="placeholder_secondname" [type]="type_secondname" [name]="name_secondname"></app-user-input>
            <app-user-input [placeholder]="placeholder_pass" [type]="type_pass" [name]="name_pass"></app-user-input>
            <input class="register-submit" type="submit" value="Login">
          </form>
          <p class="login-register">Forgot your password? <a href="/login">Reset password</a></p>
          <hr class="register-divider">
          <p class="login-register">No account yet? <a href="/register">Register</a></p>
        </div>
      </div>
      <div class="register-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
