<section class="auth-page-section">
  <div class="auth-page-container">
    <div class="auth-page-object">
      <div class="auth-card">
        <div class="auth-img-container">
          <img src="../../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="auth-title">Enter e new password</h1>
        <div *ngIf="error != '' " class="auth-error">
          <p>{{error}}</p>
        </div>
        <div class="auth-form">
          <form (submit)="onSubmit(resetForm)" #resetForm="ngForm">
            <div>
              <input type="password" name="password" ngModel placeholder="Password" #resetInput="ngModel">
            </div>
            <div>
              <input type="password" name="passwordconf" ngModel placeholder="Confirm password" #resetInput="ngModel">
            </div>
            <input class="submit" type="submit" value="Create new password">
          </form>
          <hr class="auth-divider">
        </div>
      </div>
      <div class="auth-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
