<section class="reset-page-section">
  <div class="reset-page-container">
    <div class="reset-object">
      <div class="reset-card">
        <div class="reset-img-container">
          <img src="../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="reset-title">Please enter your email</h1>
        <div class="reset-notifactions"></div>
        <div class="reset-form">
          <form (submit)="onReset(resetForm)" #resetForm="ngForm">
            <div>
              <input type="text" name="email" ngModel placeholder="Adaptive@example.com" #resetInput="ngModel">
            </div>
            <input class="reset-submit" type="submit" value="Reset password">
          </form>
          <hr class="reset-divider">
          <p class="login-register">Go back to the <a href="/login">login</a></p>
        </div>
      </div>
      <div class="reset-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
