<section class="table-checkout-section">
    <app-checkout-bar></app-checkout-bar>
    <div class="checkout-overview">
        <div>iewhivc</div>
    </div>
    <div class="checkout-section">
        <div class="payment-methods">
            <div class="payments-wrapper">
                <div class="payment-method" style="border:1px solid #e3b341 ;">
                    <p>Visa</p>
                </div>
                <div class="payment-method" style="border:1px solid #f85149;">
                    <p>Mastercard</p>
                </div>
                <div class="payment-method" style="border:1px solid #0e7ae6;">
                    <p>Paypal</p>
                </div>
                <div class="payment-method" style="border:1px solid red;">
                    <p>Maestro</p>
                </div>
                <div class="payment-method" style="border:1px solid #f0883e;">
                    <p>Apple pay</p>
                </div>
                <div class="payment-method" style="border:1px solid brown;">
                    <p>Room</p>
                </div>
                <div class="payment-method" style="border:1px solid #3fb950;">
                    <p>Tip Cash</p>
                </div>
                <div class="payment-method" style="border:1px solid darkgreen;">
                    <p>Tip</p>
                </div>
            </div>
        </div>
        <div class="checking-payment">
            <div class="checkout-wrapper">
                <div class="payment-method" style="background-color: #f85149;">
                    <p>Cancel</p>
                </div>
                <div class="payment-method" style="background-color: #3fb950;">
                    <p>Confirm</p>
                </div>
            </div>
        </div>
    </div>
</section>
