<section class="success-page-section">
  <div class="success-page-container">
    <div class="success-object">
      <div class="success-card">
        <div class="success-img-container">
          <img src="../../../../assets/img/icon-logo.png" alt="">
        </div>
        <h1 class="success-title">Vertification email send</h1>
        <p>Please check your email</p>
        <img class="success-img" src="../../../../assets/svg/vertification.svg" alt="">
        <hr class="success-divider">
        <p class="login-register">Already have an account? <a href="/login">login</a></p>
      </div>
      <div class="success-disclaimer">
        <p>BonTemps.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
