<section>
    <div class="wrapper">
        <div class="head">
            <span class="time">Time</span>
            <span class="number">Amount</span>
            <span class="addon">Item</span>
            <span class="price">Price</span>
        </div>
        <div class="item">
            <span class="time">15:24:17</span>
            <span class="number">2</span>
            <span class="addon">Noordzeekrab</span>
            <span class="price">8.32</span>
        </div>
        <div class="item">
            <span class="time">15:24:17</span>
            <span class="number">2</span>
            <span class="addon">Noordzeekrab</span>
            <span class="price">8.32</span>
        </div>
        <div class="item">
            <span class="time">15:24:17</span>
            <span class="number">2</span>
            <span class="addon">Noordzeekrab</span>
            <span class="price">8.32</span>
        </div>
    </div>
</section>
