<section>
    <div class="wrapper">
        <div class="head">
            <span class="time">Time</span>
            <span class="number">Amount</span>
            <span class="addon">Item</span>
            <span class="price">Price</span>
        </div>
        <div class="item" *ngFor="let addOn of addOns">
            <span class="time">Current</span>
            <span class="number">2</span>
            <span class="addon">{{addOn.name}}</span>
            <span class="price">{{addOn.price}}</span>
        </div>
    </div>
</section>
