<section class="reset-page-section">
  <div class="reset-page-container">
    <div class="reset-object">
      <div class="reset-card">
          <div class="reset-img-container">
            <img src="../../../../assets/img/icon-logo.png" alt="">
          </div>
          <h1 class="reset-title">Enter a new password</h1>
          <div class="reset-notifactions">
            <!-- Here will come the error handeling -->
          </div>
          <div class="reset-form">
            <form>
              <div>
                <input type="password" name="password" placeholder="Password">
              </div>
              <div>
                <input type="password" name="password_conf" placeholder="Confirm password">
              </div>
              <input class="reset-submit" type="submit" value="Create new password">
            </form>
            <hr class="reset-divider">
          </div>
      </div>
      <div class="reset-disclaimer">
        <p>Adaptive.com ⓒ 2022 all right preserved <a href="">Privacy statment </a></p>
      </div>
    </div>
  </div>
</section>
