nav {
    background-color: rgb(54, 33, 0);
    height: 150px;
    width: 100%;
    color: rgb(255, 255, 255);
}

.linkjes {
    padding: 3.5%;
    padding-left: 2%;
    padding-right: 10%;
    float: right;
    text-size-adjust: 50%;
    color: rgb(255, 255, 255);
}

img {
    padding: 2%;
    padding-right: 0%;
}